.inputs {
  margin: 10px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 10px;
  width: 50%;
  margin: auto;
  background-color:#F2E3D5;
  color: black;
  border-radius: 10px;
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;

}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}
