<mat-card class="example-card" style="background-color:  #F2E3D5;">
  <mat-card-header >
    <mat-icon class="mat-18">how_to_reg</mat-icon>
  </mat-card-header>
  <mat-card-content>
      <p class="subtitle-card">Clientes Cadastrados</p>
      <p class="count">{{clienteCount}}</p>
  </mat-card-content>
 </mat-card>

<mat-card class="example-card" style="background-color: #BFB8AE">
  <mat-card-header>
    <mat-icon class="mat-18" style="color:green;">check_circle_outline</mat-icon>
  </mat-card-header>
  <mat-card-content>
      <p class="subtitle-card">Pedidos Finalizados</p>
      <p class="count">200</p>
  </mat-card-content>
</mat-card>

<mat-card class="example-card" style="background-color: #F2E3D5">
  <mat-card-header>
    <mat-icon class="mat-18">pending_actions</mat-icon>
  </mat-card-header>
  <mat-card-content>
    <p class="subtitle-card">Em Andamento</p>
    <p class="count">100</p>
  </mat-card-content>
</mat-card>
