.example-card {
  width: 400px;
  display: inline-block;
  margin: 25px;
  height: 200px;
  box-shadow: 3px 5px 5px lightgray;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}


.mat-18 {
padding: 25px;
font-size: 50px;
}


.subtitle-card {
  font-family: 'Kanit', sans-serif;
  font-size: 1.3rem;
  margin-top: 10px;
  font-weight: bold;
}


.count {
  float: right;
  margin-right: 20px;
  font-size: 1.8rem;
  font-family: 'Kanit', sans-serif;
  font-weight: bold;

}
