<mat-form-field appearance="outline" class="inputs">
  <mat-label>CPF</mat-label>
  <input #cpf matInput placeholder="Ex. 000.000.000-00" />
</mat-form-field>
<button
  type="submit"
  (click)="consultarCpf(cpf.value)"
  mat-stroked-button
  style="height: 60px; background-color: #bfb8ae"
>
  Buscar
</button>

<p style="margin: 20px">
  <mat-form-field *ngIf="showSelect">
    <mat-label>Selecione uma opção</mat-label>
    <mat-select
      [(value)]="selectedOption"
      (selectionChange)="afterSelectedOption($event)"
    >
      <mat-option *ngFor="let option of options" [value]="option.value">
        {{ option.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</p>

<table style="display: flex; justify-content: center; align-items: center;">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Preço</th>
      <th>Qnt.</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of Produto; let i = index">
      <td><input class="input-row" type="text" [(ngModel)]="item.nome"></td>
      <td><input class="input-row" type="text" [(ngModel)]="item.preco" style="width: 60px;"></td>
      <td><input class="input-row" type="text" [(ngModel)]="item.quantidade" style="width: 40px;"></td>
      <td><button (click)="removeRow(i)">Remover</button></td>
    </tr>
  </tbody>


  <mat-button-toggle (click)="addNewRow()" style="margin-left: 20px; height: 50px; ">Adicionar</mat-button-toggle>

</table>
