<mat-form-field appearance="outline" class="inputs">
  <mat-label>CPF</mat-label>
  <input #cpf matInput placeholder="Ex. 000.000.000-00" />
</mat-form-field>
<button
  type="submit"
  (click)="consultarCpf(cpf.value)"
  mat-stroked-button
  style="height: 60px; background-color: #bfb8ae"
>
  Buscar
</button>

<p style="margin: 20px">
  <mat-form-field *ngIf="showSelect">
    <mat-label>Selecione uma opção</mat-label>
    <mat-select
      [(value)]="selectedOption"
      (selectionChange)="afterSelectedOption($event)"
    >
      <mat-option *ngFor="let option of options"
      [value]="option" >
        {{ option }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</p>

<table style="margin-left: auto;  margin-right: auto; border: thin solid lightgrey; padding: 20px; box-shadow: 3px 5px 5px lightgrey;" *ngIf = "afterSelect">
  <thead *ngIf="afterFirstAdd">
    <tr style="border: thin solid black;">
      <th>Nome</th>
      <th>Preço</th>
      <th>Qnt.</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of Produto; let i = index">
      <td><input class="input-row" type="text" [(ngModel)]="item.nome"></td>
      <td><input class="input-row" type="text" [(ngModel)]="item.preco" style="width: 60px;"></td>
      <td><input class="input-row" type="text" [(ngModel)]="item.quantidade" style="width: 40px;"></td>
      <td><mat-button-toggle style="margin-left: 10px;"  (click)="removeRow(i)">Remover</mat-button-toggle></td>
    </tr>
  </tbody>


  <mat-button-toggle (click)="addNewRow()" style="margin-left: 20px; height: 50px; ">Adicionar</mat-button-toggle>
  <mat-button-toggle  style="float: left;" (click)="calcOrcamento()">Calcular</mat-button-toggle>
  <p style="font-size: 1.1rem;margin-top: 40px ;" *ngIf="calcClick">Preço total: <strong>R$ {{sumPrice}}</strong>
  </p>
  <mat-button-toggle style="margin-left:auto" *ngIf="calcClick">Finalizar</mat-button-toggle>

</table>
